body {
	padding-top: 70px;
	margin: 0 25px 0 25px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.offcanvas {
    width: 80% !important;
}

.offcanvas-link {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    display: block; /* Make the links block-level for full width */
}

.offcanvas-link.active {
    color: #fff;
    background-color: #343a40; /* Background color for active link */
}

.code {
	background-color: #1e1e1e;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.code pre {
	padding: 8px;
	color: #fff;
}

.keyword {
	color: #569cd6;
}

.string {
	color: #ce9178;
}

.comment {
	color: #608b4e;
}

.header {
	color: #9cdcfe;
}

.function {
	color: #dcdcaa;
	background-color: #1e1e1e;
	padding: 3px;
}

.comment {
	color: #d4d4d4;
}

.variable {
	color: orange;
}

.operator {
	color: #fff;
}

.highlight {
	background-color: #1e1e1e;
	margin: 6px;
	padding: 3px;
	border-radius: 5px;
}

.data-types {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.variables {
	list-style: i;
}

table {
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
}

th,
td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

@media (min-width: 1080px) {
    .offcanvas {
        width: 40% !important;
    }
    
	.code {
		width: 35%;
		height: auto;
	}

	.data-types {
		width: 50%;
		height: auto;
	}

	table {
		width: 35%;
		margin: 0;
	}
}

/* Scroll bar Styles */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8c8c8c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f;
}
